.sign-in {
    width:380px;
    display: flex;
    flex-direction: column;
    margin:auto;  
}
.center{
    text-align:center;
}
.buttons{
display:flex;
justify-content:center;
}

.title{
    margin:10px 0;
}